@import '~quill/dist/quill.snow.css';
quill-editor{
    width: 100%;;
}
div.dataTables_wrapper div.dataTables_filter input.form-control {
    display: block;
    width: 100%;
    padding: 0.45rem 0.9rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #484848;
    background-color: #f7f7f7;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
div.dataTables_wrapper div.dataTables_filter input.form-control-sm {
    min-height: calc(1.5em + (0.56rem + 2px));
    padding: 0.28rem 0.8rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    margin: 0;
    border-radius: 8px;
}
.dt-export{
    position: absolute;
    right: 0;
    z-index: 10;
}
.dataTables_wrapper .dataTables_filter{
    margin-bottom: 20px;
}
.breadcrumb-custom li.active a {
    color: #024EFF;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}